<h1>Bem-vindo ao site de empregos de tecnologia no Rio de Janeiro</h1>

<nav>
	<ul>
		<li><a href="profile/new">Cadastre seu perfil</a></li>
		<li><a href="position/new">Cadastre uma vaga</a></li>
		<li><a href="search">Procure uma vaga</a></li>
		<li><a href="search">Procure uma profissional</a></li>
	</ul>
</nav>

<p>{{message}}</p>