lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz


pids
logs
results

npm-debug.log
node_modules

# SublimeText project files
*.sublime-workspace

# Vim temporary files
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~